<app-header [name]="city" [isHidden]="true" [useNav]="false"></app-header>

<ion-content class="ion-padding">
  <app-input-field-with-icon
    class="margin-top"
    placeholder="Поиск"
    source="/assets/input-icons/search.svg"
    (onChanged)="searchbarInput($event)">
  </app-input-field-with-icon>

  <div class="buttons">
    <div class="text-wrapper" *ngFor="let item of typesPlace">
        <span class="text">{{item}}</span>
    </div>
  </div>

  <div class="map-container">
    <iframe class="map" src="https://yandex.ru/map-widget/v1/?um=constructor:aa868d943198bfb4eb28b88af4122977939e7d3f1c1027d8a83604c947e10f10&amp;source=constructor" frameborder="0"></iframe>
  </div>
</ion-content>


<ion-modal trigger="map-modal" #modal>
  <app-header [name]="showItem.title" [useNav]="false" (leftClick)="modal.dismiss()"></app-header>
  <ion-content>
    <div class="modal-header">
      <div>
        <span>{{showItem.title}}</span>
        <span>{{showItem.score}}</span>
      </div>
      <div class="modal-sub-header">
        <span>{{showItem.type}}</span>
      </div>
    </div>
    <div class="modal-image">
      <img [src]="showItem.image"/>
    </div>
    <div class="description">
      <span class="description-text">{{showItem.description}}</span>
    </div>
  </ion-content>
</ion-modal>