<ng-container *ngIf="isCurrentUserMessage; else otherUser">
  <div class="message-without-icon">
    <div class="text-container">
      <span class="text">{{ message.message }}</span>
    </div>
  </div>
</ng-container>

<ng-template #otherUser>
  <div class="message-with-icon">
    <app-image-wrapper [source]="message.profile.imageSource" [size]="imageSize"></app-image-wrapper>
    <div class="margin-left text-container">
      <span class="text">{{ message.message }}</span>
    </div>
  </div>
</ng-template>