.message-with-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.message-without-icon{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.margin-left{
    margin-left: 10px;
}


.text-container{
    border: 1px solid #7268DC;
    border-radius: 10px;
    max-width: 65%;
    padding: 10px;

    .text{
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: rgba(255, 255, 255, 0.6);
    }
}