<div class="comment-container">
  <ng-container *ngFor="let comment of comments.slice(0, max)">
    <div class="commnet">
      <div class="text">
        <div class="header">
          <span>{{getAuthorShortName(comment.author)}}</span>
          <span>{{getData(comment.date)}}</span>
        </div>
        <hr class="under-line">
        <p>{{comment.text}}</p>
      </div>
      <app-image-wrapper 
        [source]="comment.author.imageSource" 
        [size]="imageSize"
        [routerLink]="['/main/profiles/profile', comment.author.id]">
      </app-image-wrapper>
    </div>
  </ng-container>
</div>
