.margin-top{
    margin-top: 10px;
}

.preview{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .image-container
    {
        width: 30%;
    }

    .data-container{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;

        .name{
            width: 100%;
            height: auto;

            white-space: wrap;
            font-size: 15px;
            text-align: left;
        }
    }
}