.margin-top{
    margin-top: 10px;
}

.preview{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    .image-container{
        width: 30%;
        display: flex;
    }

    .data-container{
        width: 65%;
        height: auto;
        display: flex;
        flex-direction: column;

        .name{
            width: 100%;
            height: auto;

            white-space: nowrap;
        }
    }
}