<app-header [name]="getChatName()"></app-header>

<ng-container *ngIf="chat; else notFound">
  <ion-content class="ion-padding">
    <div class="main-content" #messageBar>
      <ng-container *ngIf="chat.messages.length; else noMessages">
        <div class="message-container" *ngFor="let message of chat.messages">
          <app-chat-message [message]="message">
          </app-chat-message>
        </div>
      </ng-container>
    </div>
    <div class="input-conteiner">
      <img src="/assets/input-icons/attach.svg" alt="attach">
      <input type="text" placeholder="Сообщение" #input>
      <img src="/assets/input-icons/send.svg" alt="send" (click)="sendNewMessage(input.value); input.value=''">
    </div>
  </ion-content>
</ng-container>

<ng-template #noMessages>
  <div class="no-message">
    <p>Сообщений нет</p>
  </div>
</ng-template>

<ng-template #notFound>
  <ion-content >
    <p>Чата не существует</p>
  </ion-content>
</ng-template>