.content
{
    background-color: rgba(22, 20, 41, 0.4);
    backdrop-filter: blur(10px);
    height: 80px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

button
{
    background-color: transparent;
}
