<ng-template #temp>
  <ion-content>
    <div class="error-text">
      <p>Пользователи c указанным тегом не найдены</p>
    </div>
  </ion-content>
</ng-template>

<app-header [name]="competance"></app-header>
<ion-content *ngIf="people.length; else temp">
    <app-select-with-search [items]="people" [searchFunc]="peopleSearchFunc" [showSelect]="false">
      <ng-template let-item #itemView>
        <div style="margin-top: 15px;">
          <app-profile-preview  [profile]="item" [routerLink]="['/main/profiles/profile', item.id]">
          </app-profile-preview>
        </div>
      </ng-template>
    </app-select-with-search>
</ion-content>